html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}
body {
    background-color: rgb(1, 1, 37);
    color: lightgray;
}
a {
    text-decoration: none;
    color: inherit;
}
section {
   height: 100vh;
    scroll-snap-align: center;
}

// ****** NavBar styles ******
